---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get
    body:
      encoding: UTF-8
      string: '{"tag":"ruby","sort":"newest","consumer_key":"22380-ac19ebaa41448247d8b0d8e0","access_token":"d68e4c86-7556-4f70-ac42-ad60dc"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9993'
      X-Limit-Key-Reset:
      - '869'
      X-Limit-User-Limit:
      - '320'
      X-Limit-User-Remaining:
      - '313'
      X-Limit-User-Reset:
      - '869'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"status":1,"complete":1,"list":{"522271957":{"item_id":"522271957","resolved_id":"522271957","given_url":"http:\/\/www.camilleroux.com\/articles\/","given_title":"Articles
        | Camille Roux","favorite":"0","status":"0","time_added":"1389619774","time_updated":"1390253330","time_read":"0","time_favorited":"0","sort_id":0,"resolved_title":"Articles","resolved_url":"http:\/\/www.camilleroux.com\/articles\/","excerpt":"","is_article":"0","is_index":"1","has_video":"0","has_image":"0","word_count":"0"},"61726968":{"item_id":"61726968","resolved_id":"61726968","given_url":"https:\/\/github.com\/adamsanderson\/qwandry","given_title":"adamsanderson\/qwandry","favorite":"0","status":"0","time_added":"1389513183","time_updated":"1389513195","time_read":"0","time_favorited":"0","sort_id":1,"resolved_title":"adamsanderson\/qwandry
        \u00b7 GitHub","resolved_url":"https:\/\/github.com\/adamsanderson\/qwandry","excerpt":"Why
        spend time trying to remember where libraries, projects, an[...]
