---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get
    body:
      encoding: UTF-8
      string: '{"detailType":"complete","sort":"newest","consumer_key":"22380-ac19ebaa41448247d8b0d8e0","access_token":"d68e4c86-7556-4f70-ac42-ad60dc"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9999'
      X-Limit-Key-Reset:
      - '3600'
      X-Limit-User-Limit:
      - '320'
      X-Limit-User-Remaining:
      - '319'
      X-Limit-User-Reset:
      - '3600'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"status":1,"complete":1,"list":{"152904755":{"item_id":"152904755","resolved_id":"152904755","given_url":"http:\/\/dev.af83.com\/2012\/04\/07\/ecrire-un-service-web-en-golang.html","given_title":"\u00c9crire
        un service web en Go","favorite":"0","status":"0","time_added":"1391331456","time_updated":"1391331463","time_read":"0","time_favorited":"0","sort_id":0,"resolved_title":"\u00c9crire
        un service web en Go","resolved_url":"http:\/\/dev.af83.com\/2012\/04\/07\/ecrire-un-service-web-en-golang.html","excerpt":"Apr\u00e8s
        avoir fait nos premiers pas avec Go, il est temps de passer \u00e0 l''\u00e9criture
        d''un vrai programme. Je vous propose de faire un service web vraiment simple
        : il re\u00e7oit des requ\u00eates HTTP et y r\u00e9pond un Hello world en
        JSON.  Commen\u00e7ons par cr\u00e9er un fichier hello.go.","is_article":"1","is_index":"0","has_video":"0","has_image":"0","word_count":"1419","tags":{"#go":{"item_id":"152904755","tag":"#go"}},"authors":{"2674361":{"item_id":"152904755","author_id":"2674361","name":"Bruno
        Michel","url":"http:\/\/dev.af83.com\/authors\/bruno-michel.html"}}},"149963093":{"item_id":"149963093","resolved_id":"149963093","given_url":"http:\/\/www.shopify.com\/technology\/5898287-restful-thinking-considered-harmful#axzz2s9LQeGGS","given_title":"RESTful
        thinking considered harmful \u2014 Ecommerce Blog by Shopify","favorite":"0","status":"0","time_added":"1391330819","time_updated":"1391330819","time_read":"0","time_favorited":"0","sort_id":1,"resolved_title":"RESTful
        thinking conside[...]
