---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get
    body:
      encoding: UTF-8
      string: '{"tag":"_untagged_","sort":"newest","consumer_key":"22380-ac19ebaa41448247d8b0d8e0","access_token":"d68e4c86-7556-4f70-ac42-ad60dc"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9992'
      X-Limit-Key-Reset:
      - '869'
      X-Limit-User-Limit:
      - '320'
      X-Limit-User-Remaining:
      - '312'
      X-Limit-User-Reset:
      - '869'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"status":1,"complete":1,"list":{"514988827":{"item_id":"514988827","resolved_id":"514988827","given_url":"http:\/\/pornel.net\/slip\/","given_title":"pornel.net\/slip\/","favorite":"0","status":"0","time_added":"1390124661","time_updated":"1390124661","time_read":"0","time_favorited":"0","sort_id":0,"resolved_title":"Slip.js","resolved_url":"http:\/\/pornel.net\/slip\/","excerpt":"Swiping
        and reordering in lists of elements on touch screens, no fuss. A tiny library
        by Kornel.  Bug\/fork\/star on GitHub.","is_article":"0","is_index":"1","has_video":"0","has_image":"0","word_count":"50"},"487375508":{"item_id":"487375508","resolved_id":"487375508","given_url":"http:\/\/store.makerbot.com\/replicator2","given_title":"MakerBot
        Replicator 2 Desktop 3D Printer","favorite":"0","status":"0","time_added":"1390124280","time_updated":"1390124280","time_read":"0","time_favorited":"0","sort_id":1,"resolved_title":"MakerBot
        Replicator 2 Desktop 3D Printer","resolved_url":"http:\/\/store.makerbot.com\/replicator2","excerpt":"At
        MakerBot, we take pride in offerin[...]
